@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      @apply font-sans;
    }
    .background-animate {
      background-size: 500%;
  
      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      animation: AnimationName 20s ease infinite;
    }
    @keyframes AnimationName {
      0%,
      100% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
    }
  }
  